{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block content %}
  {% for item in items %}
    <div class="media">
      <img class="mr-3 col-3" src="{{ item.photo_info.0.photo_604 }}" alt="Фото товара">
      <div class="media-body col-6">
        <!-- <h5 class="mt-0">Описание товара</h5> -->
        {{ item.photo_info.0.text|linebreaks }}

        <div class="media mt-3">
          <a class="pr-3 col-3" href="#">
            <img src="{{ item.user_info.0.photo_100 }}" alt="Фото пользователя">
          </a>
          <div class="media-body col-6">
            {% if item.user_info.0.name %}
              <h5 class="mt-0">{{ item.user_info.0.name }}</h5>
            {% else %}
              <h5 class="mt-0">{{ item.user_info.0.first_name}} {{ item.user_info.0.last_name }}</h5>
            {% endif %}
            {{ item.text }}
          </div>
        </div>
      </div>
      <form>
        <div class="form-group">
          <p>Цена: <input class="form-control" type="text" placeholder="{{ item.price }}"></p>
          <p>Кол-во: <input class="form-control" type="text" placeholder="{{ item.count }}"></p>
        </div>
        <button type="submit" class="btn btn-primary">Верно</button>
      </form>
    </div>
    <hr>
  {% endfor %}
{% endblock %}